:root {
    --main-color: #080c0e;
    --secondary-color: #090d0f;
    --highlight-color: #5aa5be;
    --hover-color: #5aa5be;
}

body, html {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--highlight-color);
}

.projects-body {
    height: 100vh;
    overflow: hidden;
}

main {
    display: flex;
    align-items: center;
    max-width: 1200px;
    height: 100vh;
    padding: 2rem;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    animation: slideUp 1s ease-in-out forwards;
    margin-top: -450px;
}

.project-card {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    border-bottom: 5px solid var(--highlight-color);
    filter: brightness(90%) saturate(110%);
    background: linear-gradient(to bottom, transparent, rgba(var(--highlight-color), 0.1));
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15), 0 0 0 5px rgba(255, 255, 255, 0.1);
}

.project-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    filter: brightness(90%) saturate(110%);
}

.project-info {
    background-color: rgba(var(--main-color), 0.8);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
}

.project-title {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    line-height: 1.2;
    color: white;
}

.project-card a {
    color: inherit;
    text-decoration: none;
}

.project-card a:hover {
    text-decoration: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

body {
    animation: fadeIn 1s ease-in-out forwards;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr);
        margin-top: -300px;
    }

    .project-card img {
        height: 300px;
    }

    .project-title {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .project-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-top: -200px;
    }

    .project-card img {
        height: 250px;
    }

    .project-title {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    main {
        padding: 1rem;
    }

    .project-container {
        grid-template-columns: 1fr;
        margin-top: -100px;
    }

    .project-card img {
        height: 200px;
    }

    .project-title {
        font-size: 16px;
    }
}